body {
  font-family: "Kumbh Sans", sans-serif;
}
p,
a {
  color: $text-color;
  font-size: 1.1rem;
  line-height: 1.6;
  letter-spacing: 0.3px;
}
h1 {
  font-size: 2.2rem;
  line-height: 1.1;
  @include tablette {
    font-size: 2.6rem;
  }
}
h4 {
  text-transform: uppercase;
  color: $orange;
}
