$orange: hsl(26, 100%, 55%);
$secondary: hsl(25, 100%, 94%);
$heading-color: hsl(220, 13%, 13%);
$text-color: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$mobile: 25em;
$tablette: 48em;
$desktop: 68em;
