@import "../partials/variabels";
@import "../partials/mixins";
@import "../partials/typography";
@import "../partials/generals";
@import "../partials/nav";
@import "../partials/grid";
.main {
  @include desktop {
    margin-top: 4rem;
  }
  // actions btns
  .next,
  .previous {
    position: absolute;
    top: 35%;
    margin-inline: 1rem;
    cursor: pointer;
    background-color: white;
    height: 2rem;
    padding-top: 6px;
    padding-left: 9px;
    border-radius: 50%;
    width: 2rem;
    &:hover {
      path {
        stroke: $orange;
        transition: 0.5s;
      }
    }
    @include tablette {
      display: none;
    }
  }
  .next {
    right: 0;
  }
  // images
  .product-images {
    height: 50vh;
    width: 100%;
    @include tablette {
      height: 7rem;
      width: 10rem;
      margin: 10px;
      @include desktop {
        width: 8rem;
      }
    }
  }
  img {
    cursor: pointer;
  }
  @include tablette {
    .allimages {
      display: flex;
      width: 80%;
      margin-left: 4rem;
      @include desktop {
        margin-left: 15%;
        @include desktopLarge {
          margin-left: 10%;
        }
      }

      img:hover {
        opacity: 0.4;
      }
    }
    .img-container {
      display: flex;
      flex-direction: column;
      .magic {
        height: 70vh;
        width: 70%;
        margin-inline: auto;
      }
    }
  }
  .visible {
    display: block;
    @include tablette {
      display: block;
    }
  }
  .hidden {
    display: none;
    @include tablette {
      display: block;
    }
  }
  // content sections
  &__content {
    @include desktop {
      position: relative;
      left: 15%;
      @include desktopLarge {
        left: 0;
      }
      .main-text {
        width: 50ch;
      }
    }
    padding: 1rem;
    .title {
      margin-block: 1rem;
    }
  }
  .price {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    @include desktop {
      flex-direction: column;
    }

    &__rollBack {
      display: inherit;
      h4 {
        margin: 9px 0 0 1rem;
        background-color: $secondary;
        padding: 5px;
        border-radius: 7px;
      }
    }
    &__original {
      h3 {
        margin-top: 1rem;
      }
    }
  }
  // btns
  .btns {
    @include desktop {
      display: flex;
    }
    .btn {
      padding: 0.8rem;
      border-radius: 10px;
      display: flex;
      margin: 1rem;
      @include desktop {
        width: 30%;
      }
      @include desktopLarge {
        width: 40%;
      }
    }
    &__quantity {
      background-color: rgba(204, 204, 204, 0.514);
      justify-content: space-around;
      svg {
        margin-top: 10px;
      }
      .plus {
        margin-top: 6px;
      }
    }
    // add to cart
    .btns__addToCard {
      @include desktopLarge {
        width: 60%;
      }
    }
    &__addToCard {
      background-color: $orange;
      justify-content: center;
      cursor: pointer;

      h2 {
        color: white;
        margin-left: 10px;
      }
      svg {
        margin-top: 5px;
      }

      svg path {
        // stroke: white;
        fill: white;
      }
    }
  }
  @include desktop {
    img {
      border-radius: 10px;
    }
  }
  .plus,
  .minus {
    cursor: pointer;
  }
}
// empty card
