body {
  font-family: "Kumbh Sans", sans-serif;
}

p,
a {
  color: #68707d;
  font-size: 1.1rem;
  line-height: 1.6;
  letter-spacing: 0.3px;
}

h1 {
  font-size: 2.2rem;
  line-height: 1.1;
}

@media (min-width: 37em) {
  h1 {
    font-size: 2.6rem;
  }
}

h4 {
  text-transform: uppercase;
  color: #ff7d1a;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:focus {
  outline: none !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.nav {
  padding: 1rem 1.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 37em) {
  .nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 37em) and (min-width: 48em) {
  .nav {
    padding-inline: 5rem;
  }
}

@media (min-width: 37em) {
  .nav__menu {
    display: none;
  }
  .nav__right {
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
}

@media (min-width: 37em) and (min-width: 48em) {
  .nav__right {
    right: 5rem;
  }
}

.nav__left {
  margin-top: 0.7rem;
}

.nav__menu, .nav__close, .nav__cart {
  cursor: pointer;
}

.nav__menu {
  margin-right: 10px;
}

.nav .cart {
  margin-bottom: -1rem;
  margin-left: -50px;
  margin-top: 1rem;
  position: relative;
}

.nav .cart span {
  height: 1rem;
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  top: -40%;
  width: 1.3rem;
  border-radius: 50%;
  background-color: #ff7d1a;
  left: 10%;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5px;
  font-size: 12px;
  font-weight: bold;
  display: none;
}

.nav .cart .showNumberOfItems {
  display: block;
}

.nav__avatar {
  width: 2.4rem;
  margin-top: -1rem;
  margin-left: 1rem;
}

.nav__modalContent {
  display: none;
  width: 100%;
}

@media (min-width: 37em) {
  .nav__modalContent {
    display: block;
    margin: 0.5rem 0 0 1rem;
  }
  .nav__modalContent svg {
    display: none;
  }
  .nav__modalContent li {
    display: inline-block;
    margin-left: 6px;
  }
}

@media (min-width: 37em) and (min-width: 48em) {
  .nav__modalContent li {
    margin-left: 1rem;
  }
}

@media (max-width: 37em) {
  .modal {
    display: block;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
  }
  .modal svg {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
  }
  .showlist {
    background-color: white;
    height: 100vh;
    width: 50%;
    padding-top: 4rem;
    padding-left: 1.5rem;
  }
  .showlist li {
    margin-block: 10px;
  }
  .showlist a {
    color: black;
    font-weight: bold;
  }
}

.emptyCard {
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 18px #ccc;
          box-shadow: 0 0 18px #ccc;
  width: 90%;
  margin-top: 1rem;
  padding: 1rem;
  height: 250px;
  position: absolute;
  left: 5%;
  z-index: 8888;
  display: none;
}

@media (min-width: 37em) {
  .emptyCard {
    width: 50%;
    left: 50%;
  }
}

@media (min-width: 37em) and (min-width: 68em) {
  .emptyCard {
    width: 30%;
    left: 60%;
  }
}

.emptyCard p {
  margin: 4rem 0 0 7rem;
}

.showcard {
  display: block;
}

.btn-checkout {
  background-color: #ff7d1a;
  font-weight: bold;
  color: white;
  border: 0;
  border-radius: 10px;
  margin-top: 3rem;
  position: relative;
  left: 2%;
  width: 80%;
  cursor: pointer;
  padding: 12px 1rem;
  font-size: 1.5rem;
  margin-inline: auto;
  display: none;
}

.showBtn {
  display: block;
}

@media (min-width: 68em) {
  .grid {
    display: -ms-grid;
    display: grid;
  }
  .grid--cols2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 48em) {
  .main {
    margin-top: 4rem;
  }
}

.main .next,
.main .previous {
  position: absolute;
  top: 35%;
  margin-inline: 1rem;
  cursor: pointer;
  background-color: white;
  height: 2rem;
  padding-top: 6px;
  padding-left: 9px;
  border-radius: 50%;
  width: 2rem;
}

.main .next:hover path,
.main .previous:hover path {
  stroke: #ff7d1a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 37em) {
  .main .next,
  .main .previous {
    display: none;
  }
}

.main .next {
  right: 0;
}

.main .product-images {
  height: 50vh;
  width: 100%;
}

@media (min-width: 37em) {
  .main .product-images {
    height: 7rem;
    width: 10rem;
    margin: 10px;
  }
}

@media (min-width: 37em) and (min-width: 48em) {
  .main .product-images {
    width: 8rem;
  }
}

.main img {
  cursor: pointer;
}

@media (min-width: 37em) {
  .main .allimages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin-left: 4rem;
  }
}

@media (min-width: 37em) and (min-width: 48em) {
  .main .allimages {
    margin-left: 15%;
  }
}

@media (min-width: 37em) and (min-width: 48em) and (min-width: 68em) {
  .main .allimages {
    margin-left: 10%;
  }
}

@media (min-width: 37em) {
  .main .allimages img:hover {
    opacity: 0.4;
  }
  .main .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .img-container .magic {
    height: 70vh;
    width: 70%;
    margin-inline: auto;
  }
}

.main .visible {
  display: block;
}

@media (min-width: 37em) {
  .main .visible {
    display: block;
  }
}

.main .hidden {
  display: none;
}

@media (min-width: 37em) {
  .main .hidden {
    display: block;
  }
}

.main__content {
  padding: 1rem;
}

@media (min-width: 48em) {
  .main__content {
    position: relative;
    left: 15%;
  }
}

@media (min-width: 48em) and (min-width: 68em) {
  .main__content {
    left: 0;
  }
}

@media (min-width: 48em) {
  .main__content .main-text {
    width: 50ch;
  }
}

.main__content .title {
  margin-block: 1rem;
}

.main .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 48em) {
  .main .price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .price__rollBack {
  display: inherit;
}

.main .price__rollBack h4 {
  margin: 9px 0 0 1rem;
  background-color: #ffede0;
  padding: 5px;
  border-radius: 7px;
}

.main .price__original h3 {
  margin-top: 1rem;
}

@media (min-width: 48em) {
  .main .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main .btns .btn {
  padding: 0.8rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
}

@media (min-width: 48em) {
  .main .btns .btn {
    width: 30%;
  }
}

@media (min-width: 68em) {
  .main .btns .btn {
    width: 40%;
  }
}

.main .btns__quantity {
  background-color: rgba(204, 204, 204, 0.514);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .btns__quantity svg {
  margin-top: 10px;
}

.main .btns__quantity .plus {
  margin-top: 6px;
}

@media (min-width: 68em) {
  .main .btns .btns__addToCard {
    width: 60%;
  }
}

.main .btns__addToCard {
  background-color: #ff7d1a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.main .btns__addToCard h2 {
  color: white;
  margin-left: 10px;
}

.main .btns__addToCard svg {
  margin-top: 5px;
}

.main .btns__addToCard svg path {
  fill: white;
}

@media (min-width: 48em) {
  .main img {
    border-radius: 10px;
  }
}

.main .plus,
.main .minus {
  cursor: pointer;
}

.removedPrice {
  text-decoration: line-through;
}
/*# sourceMappingURL=main.css.map */